<!DOCTYPE html>
<html>
  <head>
    <title>Vehicle Tracking Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    {% load static %}
    <style>
      #map {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
      }
      .dot {
        background-color: blue;
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }
      #clear-button {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000; /* Ensure clear button is on top of the map */
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <button id="clear-button">Clear Markers</button>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'map.js' %}"></script>
  </body>
</html>
